<div class="card my-2" *ngFor="let paineis of paineisCards">
  <h5 class="card-header">
    {{ paineis.titulo }}
  </h5>
  <div class="card-body">
    <p class="card-text">
      {{ paineis.nomeProjeto }}
    </p>
    <p class="card-text"><b>Descrição:</b> {{ paineis.descricao }}</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Prevista:{{ paineis.dataPrevisao }}</li>
      <li class="list-group-item">Equipe:{{ paineis.equipe }}</li>
    </ul>
    <div>
      <button [ngClass]="['btn', changeColorStatus(paineis.status)]">
        {{ paineis.status }}
      </button>
    </div>
  </div>
</div>
