<div class="modal-header">
  <app-TitulosTelas
    [nomeTitulo]="'Novo Card'"
    [iconClass]="'fa-solid fa-address-card'"
  ></app-TitulosTelas>
</div>

<div class="modal-body">
  <form>
    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input type="nome" class="form-control" id="nome" />
    </div>
    <div class="mb-3">
      <label for="sobrenome" class="form-label">Sobrenome</label>
      <input type="text" class="form-control" id="sobrenome" />
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
</div>
