<div class="d-flex justify-content-around">
  <div class="mt-5" *ngFor="let paineis of paineisCards">
    <div class="card p-3" style="width: 18rem; margin-left: 20px">
      <div class="d-flex card-body justify-content-between">
        <h5 class="card-title">{{ paineis.descricao }}</h5>
        <div>
          <i class="fa fa-clock d-flex ml-2"> <h6 class="ml-2">1h</h6></i>
        </div>
      </div>
      <!-- Cards -->
      <app-painelCard [situacaoId]="paineis.situacaoId"></app-painelCard>
    </div>
  </div>
</div>
